@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    List<Role>? Roles = ViewData["Roles"] as List<Role>;
}

@foreach (var item in Roles!)
{
    <div class="checkbox">
        <label>
            <input type="checkbox" class="checkoption" name="SelectedRoles" value="@item.RoleTitle" checked="@(Model.userRole.Any(r => r.Equals(item.RoleTitle)))" /> @item.RoleTitle
        </label>
    </div>
}
